version: "3.8"

services:
  user-app:
    build: 
      context: .
      dockerfile: dockerfile
    container_name: user-service
    ports:
      - "8000:8000"
      - "50051:50051"
    env_file:
      - .env
    environment:
      - DATABASE_URL=postgresql+asyncpg://${USER_DB_USER}:${USER_DB_PASSWORD}@user-db:5432/${USER_DB_NAME}
    depends_on:
      user-db:
        condition: service_healthy
    networks:
      - microservices-network
    restart: unless-stopped

  user-db:
    image: postgres:15-alpine
    container_name: user-service-db
    environment:
      POSTGRES_USER: ${USER_DB_USER:-postgres}
      POSTGRES_PASSWORD: ${USER_DB_PASSWORD:-123}
      POSTGRES_DB: ${USER_DB_NAME:-softam_user_service}
    ports:
      - "5435:5432"
    volumes:
      - user_service_data:/var/lib/postgresql/data
    networks:
      - microservices-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${USER_DB_USER:-postgres} -d ${USER_DB_NAME:-softam_user_service}"]
      interval: 5s
      timeout: 5s
      retries: 5
    restart: unless-stopped

  redis:
    image: redis:7-alpine
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    networks:
      - microservices-network
    restart: unless-stopped

volumes:
  redis_data:
    driver: local
  user_service_data:
